<script>
  src="/path/to/application.js"
</script>

<div class="wrapper">
  <aside class="sidebar">
    <h1 class="h1">Simple todo list</h1>
    <h2 class="h2">From Ruby Garage</h2>

    <div class="start-page">
      
      <p class="text-desc">Plan your tasks and stay organized</p>

      <a onclick="showForm()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#addForm">Start now</a>
    </div>
  </aside>
  <div class="main-content">
    <div class="table-container">
      <table id="task_table" class="table">
        <thead class="dataTables_wrapper no-footer">
          <tr>
            <th>title</th>
            <th>date</th>
            <th>done</th>
          </tr>
        </thead>
      </table>
    </div>
  </div>
</div>

<div id="addForm" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <i class="alert_icon"></i>
        <p class="modal-title" id="exampleModalLongTitle">Create a task</p>
      </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-8">
              <div class="main-card form-group">
                <form id="formId">
                  <div class="main-input-container">
                    <label class="main-input_label">Describe your task</label>
                    <textarea id="titleInput" class="main-input__field form-control" cols="40" rows="2" placeholder="Complete a test task for Ruby Garage"></textarea>
                  </div>
                  <div class="create-task__input-short main-input">
                    <label class="main-input_label">Priority</label>
                    <select id="task_priority" class="main-input__field main-input__field--xs form-control">
                      <option value="0">Low</option>
                      <option value="1">Medium</option>
                      <option value="2">High</option>
                    </select>
                  </div>
                  <div>
                    <label class="main-input_label" for="task_date">Due Date</label>
                    <input class="form-control" type="date" id="task_date"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <button type="button" class="btn btn-primary btn-sm" onclick="send()">Create</button>
            <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
          </div>
        </div>
    </div> 
  </div>
</div>
