// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-input__message-txt {
  display: none;
}

.main-alert {
  display: none;
}
.btn {
  margin-top: 10px;
  margin-bottom: 20px;
}
