// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
.wrapper {
  height: 100%;
}
.sidebar {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 25%;
  overflow: auto;
  padding: 10px;
  background-color: rgb(241, 241, 241);
}
.main-content {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  width: 70%;
  overflow: auto;
}
.main-input__message-txt {
  display: none;
}
.main-alert {
  display: none;
}
.btn {
  margin-top: 10px;
  margin-bottom: 20px;
}
.h1 {
  color: #007bff;
  font-size: 2rem;
  padding: 5px;
  margin: 0px;
}
.h2 {
  text-transform: uppercase;
  font-size: 1rem;
  padding: 5px;
  color: grey;
}
.text-desc {
  color: rgb(49, 49, 49);
}
.start-page {
  padding: 5px;
  margin-bottom: 40px;
}
.table-container {
  display: flex;
  width: 100%;
  padding-left: 50px;
  padding-top: 40px;
}
.dataTables_wrapper {
  display: flexbox;
  width: 8000px;
}
.table {
  width: 100%;
}
.modal-content {
  padding: 20px;
}
.error {
  padding: 0px;
  color: rgb(182, 7, 80);
  visibility: hidden;
}
.main-input_label {
  margin-top: 20px;
}
.btn-outline-dark {
  margin-top: 0px;
}
.form-check-input {
  margin-top: 10px;
}
